In [148]:
import numpy as np
import pandas as pd

In [149]:
df=pd.read_csv('/content/car_sales_data.csv')
df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         50000 non-null  object
 1   Model                50000 non-null  object
 2   Engine size          50000 non-null  float64
 3   Fuel type            50000 non-null  object
 4   Year of manufacture  50000 non-null  int64
 5   Mileage              50000 non-null  int64
 6   Price                50000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.7+ MB

In [151]:
df.describe()

        Engine size  Year of manufacture        Mileage          Price
count  50000.000000         50000.000000   50000.000000   50000.000000
mean       1.773058          2004.209440  112497.320700   13828.903160
std        0.734108             9.645965   71632.515602   16416.681336
min        1.000000          1984.000000     630.000000      76.000000
25%        1.400000          1996.000000   54352.250000    3060.750000
50%        1.600000          2004.000000  100987.500000    7971.500000
75%        2.000000          2012.000000  158601.000000   19026.500000
max        5.000000          2022.000000  453537.000000  168081.000000

In [152]:
print(df.duplicated().sum())

12

In [153]:
df[df.duplicated()]

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
5426,VW,Polo,1.2,Petrol,2003,10000,8024
9862,Ford,Mondeo,1.4,Diesel,1987,224569,883
14745,BMW,Z4,2.4,Petrol,1999,12000,13410
19020,Toyota,Yaris,1.0,Petrol,1996,13500,5087
19337,VW,Polo,1.0,Petrol,2000,11500,5950
23927,VW,Polo,1.2,Petrol,2021,1000,27901
25368,VW,Golf,1.2,Diesel,2011,6000,17401
28576,VW,Polo,1.2,Petrol,2003,10000,8024
34246,VW,Passat,2.0,Diesel,2003,10000,16087
35647,Ford,Focus,1.6,Petrol,2019,2000,39636
41536,VW,Passat,1.8,Diesel,1996,13500,9394
45904,Ford,Fiesta,1.2,Petrol,2003,124092,3691

In [154]:
df.duplicated(subset=["Price","Model"]).sum()

np.int64(4669)

In [155]:
df[df.duplicated(keep='first')]

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
5426,VW,Polo,1.2,Petrol,2003,10000,8024
9862,Ford,Mondeo,1.4,Diesel,1987,224569,883
14745,BMW,Z4,2.4,Petrol,1999,12000,13410
19020,Toyota,Yaris,1.0,Petrol,1996,13500,5087
19337,VW,Polo,1.0,Petrol,2000,11500,5950
23927,VW,Polo,1.2,Petrol,2021,1000,27901
25368,VW,Golf,1.2,Diesel,2011,6000,17401
28576,VW,Polo,1.2,Petrol,2003,10000,8024
34246,VW,Passat,2.0,Diesel,2003,10000,16087
35647,Ford,Focus,1.6,Petrol,2019,2000,39636
41536,VW,Passat,1.8,Diesel,1996,13500,9394
45904,Ford,Fiesta,1.2,Petrol,2003,124092,3691

In [156]:
df[df.duplicated(keep='last')]

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
2183,Ford,Mondeo,1.4,Diesel,1987,224569,883
5136,VW,Polo,1.2,Petrol,2003,10000,8024
5426,VW,Polo,1.2,Petrol,2003,10000,8024
5997,Toyota,Yaris,1.0,Petrol,1996,13500,5087
6033,VW,Passat,1.8,Diesel,1996,13500,9394
8881,BMW,Z4,2.4,Petrol,1999,12000,13410
11785,VW,Polo,1.0,Petrol,2000,11500,5950
18313,VW,Polo,1.2,Petrol,2021,1000,27901
18397,Ford,Fiesta,1.2,Petrol,2003,124092,3691
18686,VW,Passat,2.0,Diesel,2003,10000,16087
25323,VW,Golf,1.2,Diesel,2011,6000,17401
30348,Ford,Focus,1.6,Petrol,2019,2000,39636

In [157]:
df[df.duplicated(keep=False)]

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
2183,Ford,Mondeo,1.4,Diesel,1987,224569,883
5136,VW,Polo,1.2,Petrol,2003,10000,8024
5426,VW,Polo,1.2,Petrol,2003,10000,8024
5997,Toyota,Yaris,1.0,Petrol,1996,13500,5087
6033,VW,Passat,1.8,Diesel,1996,13500,9394
8881,BMW,Z4,2.4,Petrol,1999,12000,13410
9862,Ford,Mondeo,1.4,Diesel,1987,224569,883
11785,VW,Polo,1.0,Petrol,2000,11500,5950
14745,BMW,Z4,2.4,Petrol,1999,12000,13410
18313,VW,Polo,1.2,Petrol,2021,1000,27901
18397,Ford,Fiesta,1.2,Petrol,2003,124092,3691
18686,VW,Passat,2.0,Diesel,2003,10000,16087
19020,Toyota,Yaris,1.0,Petrol,1996,13500,5087
19337,VW,Polo,1.0,Petrol,2000,11500,5950
23927,VW,Polo,1.2,Petrol,2021,1000,27901
25323,VW,Golf,1.2,Diesel,2011,6000,17401
25368,VW,Golf,1.2,Diesel,2011,6000,17401
28576,VW,Polo,1.2,Petrol,2003,10000,8024
30348,Ford,Focus,1.6,Petrol,2019,2000,39636
34246,VW,Passat,2.0,Diesel,2003,10000,16087
35647,Ford,Focus,1.6,Petrol,2019,2000,39636
41536,VW,Passat,1.8,Diesel,1996,13500,9394
45904,Ford,Fiesta,1.2,Petrol,2003,124092,3691

In [158]:
df.drop_duplicates(inplace=True)

In [159]:
df.duplicated().sum()

np.int64(0)

In [160]:
df['Engine size'].value_counts()

Engine size
1.4    10059
2.0     7630
1.8     7031
1.0     6341
1.6     5508
1.2     4979
2.4     2363
2.2     1678
3.0     1368
4.0     1092
4.4      559
5.0      525
2.6      448
3.5      407
Name: count, dtype: int64

In [161]:
df['Price'].max()

168081

In [162]:
df['Price'].min()
df.columns

Index(['Manufacturer', 'Model', 'Engine size', 'Fuel type',
       'Year of manufacture', 'Mileage', 'Price'],
      dtype='object')

In [163]:
df['Manufacturer'].value_counts()

Manufacturer
Ford       14956
VW         14906
Toyota     12553
BMW         4964
Porsche     2609
Name: count, dtype: int64

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49988 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         49988 non-null  object
 1   Model                49988 non-null  object
 2   Engine size          49988 non-null  float64
 3   Fuel type            49988 non-null  object
 4   Year of manufacture  49988 non-null  int64
 5   Mileage              49988 non-null  int64
 6   Price                49988 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.1+ MB

In [165]:
df.loc[df['Price']>100000,"Price"]=np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49988 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         49988 non-null  object
 1   Model                49988 non-null  object
 2   Engine size          49988 non-null  float64
 3   Fuel type            49988 non-null  object
 4   Year of manufacture  49988 non-null  int64
 5   Mileage              49988 non-null  int64
 6   Price                49744 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 3.1+ MB

In [166]:
df['Engine size'].value_counts()

Engine size
1.4    10059
2.0     7630
1.8     7031
1.0     6341
1.6     5508
1.2     4979
2.4     2363
2.2     1678
3.0     1368
4.0     1092
4.4      559
5.0      525
2.6      448
3.5      407
Name: count, dtype: int64

In [167]:
df['Engine size'].unique()

array([1. , 4. , 1.6, 1.8, 1.4, 1.2, 2. , 2.2, 2.4, 2.6, 3.5, 4.4, 3. ,
       5. ])

In [168]:
bins=[0,1.5,2,3,4,6]
labels=['little','small','medium','big','huge']

df['Engine size']=pd.cut(df['Engine size'],bins=bins,labels=labels)

In [169]:
df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,little,Petrol,2002,127300,3074.0
1,Porsche,718 Cayman,big,Petrol,2016,57850,49704.0
2,Ford,Mondeo,small,Diesel,2014,39190,24072.0
3,Toyota,RAV4,small,Hybrid,1988,210814,1705.0
4,VW,Polo,little,Petrol,2006,127869,4101.0

In [170]:
df.groupby('Manufacturer')['Price'].max()

Manufacturer
BMW        99767.0
Ford       62748.0
Porsche    99785.0
Toyota     86353.0
VW         58588.0
Name: Price, dtype: float64

In [171]:
newdf=df[df['Price']<500]

In [172]:
newdf

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
85,Toyota,Prius,little,Hybrid,1993,333629,478.0
148,VW,Polo,little,Petrol,1984,225099,489.0
281,Ford,Focus,little,Petrol,1985,288486,347.0
310,Ford,Fiesta,little,Petrol,1986,263206,384.0
369,VW,Passat,little,Diesel,1989,371762,264.0
...,...,...,...,...,...,...,...
49845,Ford,Fiesta,little,Petrol,1991,289665,386.0
49855,Ford,Focus,small,Petrol,1984,369978,209.0
49899,Toyota,Prius,little,Hybrid,1984,293824,455.0
49932,VW,Golf,small,Petrol,1988,307534,420.0
49972,VW,Polo,little,Petrol,1987,318772,210.0

In [173]:
ndf=pd.concat([df,newdf],axis=0,ignore_index=False)

In [174]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50709 entries, 0 to 49972
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         50709 non-null  object
 1   Model                50709 non-null  object
 2   Engine size          50709 non-null  category
 3   Fuel type            50709 non-null  object
 4   Year of manufacture  50709 non-null  int64
 5   Mileage              50709 non-null  int64
 6   Price                50465 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 2.8+ MB

In [175]:
ndff=pd.concat([df,newdf],axis=1)

In [176]:
ndff.tail()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
49995,BMW,M5,huge,Petrol,2018,28664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,Toyota,Prius,small,Hybrid,2003,105120,9430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,Ford,Mondeo,small,Diesel,2022,4030,49852.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,Ford,Focus,little,Diesel,2016,26468,23630.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,VW,Golf,little,Diesel,2012,109300,10400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
df.merge(newdf,how='left',left_on='Price',right_on='Price')

,Manufacturer_x,Model_x,Engine size_x,Fuel type_x,Year of manufacture_x,Mileage_x,Price,Manufacturer_y,Model_y,Engine size_y,Fuel type_y,Year of manufacture_y,Mileage_y
0,Ford,Fiesta,little,Petrol,2002,127300,3074.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Porsche,718 Cayman,big,Petrol,2016,57850,49704.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Ford,Mondeo,small,Diesel,2014,39190,24072.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Toyota,RAV4,small,Hybrid,1988,210814,1705.0,NaN,NaN,NaN,NaN,NaN,NaN
4,VW,Polo,little,Petrol,2006,127869,4101.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51665,BMW,M5,huge,Petrol,2018,28664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51666,Toyota,Prius,small,Hybrid,2003,105120,9430.0,NaN,NaN,NaN,NaN,NaN,NaN
51667,Ford,Mondeo,small,Diesel,2022,4030,49852.0,NaN,NaN,NaN,NaN,NaN,NaN
51668,Ford,Focus,little,Diesel,2016,26468,23630.0,NaN,NaN,NaN,NaN,NaN,NaN
51669,VW,Golf,little,Diesel,2012,109300,10400.0,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,little,Petrol,2002,127300,3074.0
1,Porsche,718 Cayman,big,Petrol,2016,57850,49704.0
2,Ford,Mondeo,small,Diesel,2014,39190,24072.0
3,Toyota,RAV4,small,Hybrid,1988,210814,1705.0
4,VW,Polo,little,Petrol,2006,127869,4101.0

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49988 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         49988 non-null  object
 1   Model                49988 non-null  object
 2   Engine size          49988 non-null  category
 3   Fuel type            49988 non-null  object
 4   Year of manufacture  49988 non-null  int64
 5   Mileage              49988 non-null  int64
 6   Price                49744 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 3.7+ MB

In [180]:
df.drop_duplicates(inplace=True)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49988 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         49988 non-null  object
 1   Model                49988 non-null  object
 2   Engine size          49988 non-null  category
 3   Fuel type            49988 non-null  object
 4   Year of manufacture  49988 non-null  int64
 5   Mileage              49988 non-null  int64
 6   Price                49744 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 3.7+ MB

In [182]:
df.isnull().sum()

Manufacturer             0
Model                    0
Engine size              0
Fuel type                0
Year of manufacture      0
Mileage                  0
Price                  244
dtype: int64

In [183]:
df["Engine size"].astype(str)

0        little
1           big
2         small
3         small
4        little
          ...
49995      huge
49996     small
49997     small
49998    little
49999    little
Name: Engine size, Length: 49988, dtype: object

In [184]:
df["Engine size"].fillna("little", inplace=True)

/tmp/ipython-input-4009733199.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Engine size"].fillna("little", inplace=True)

In [185]:
df["Price"]=df["Price"].fillna(df["Price"].mean())

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49988 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         49988 non-null  object
 1   Model                49988 non-null  object
 2   Engine size          49988 non-null  category
 3   Fuel type            49988 non-null  object
 4   Year of manufacture  49988 non-null  int64
 5   Mileage              49988 non-null  int64
 6   Price                49988 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 3.7+ MB

In [187]:
df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,little,Petrol,2002,127300,3074.0
1,Porsche,718 Cayman,big,Petrol,2016,57850,49704.0
2,Ford,Mondeo,small,Diesel,2014,39190,24072.0
3,Toyota,RAV4,small,Hybrid,1988,210814,1705.0
4,VW,Polo,little,Petrol,2006,127869,4101.0

In [188]:
df.dropna(inplace=True)

In [190]:
df.dropna(how='any',inplace=True)

In [191]:
df.dropna(subset=["Price"])

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,little,Petrol,2002,127300,3074.000000
1,Porsche,718 Cayman,big,Petrol,2016,57850,49704.000000
2,Ford,Mondeo,small,Diesel,2014,39190,24072.000000
3,Toyota,RAV4,small,Hybrid,1988,210814,1705.000000
4,VW,Polo,little,Petrol,2006,127869,4101.000000
...,...,...,...,...,...,...,...
49995,BMW,M5,huge,Petrol,2018,28664,13293.169347
49996,Toyota,Prius,small,Hybrid,2003,105120,9430.000000
49997,Ford,Mondeo,small,Diesel,2022,4030,49852.000000
49998,Ford,Focus,little,Diesel,2016,26468,23630.000000
49999,VW,Golf,little,Diesel,2012,109300,10400.000000

In [197]:
df.groupby("Model")['Mileage'].apply(lambda x:x*2 )

Model
718 Cayman  1        115700
            76       338156
            81        28140
            135      512978
            153       41268
                      ...
Z4          49916    251326
            49931     59314
            49947    267090
            49956    119040
            49969     67546
Name: Mileage, Length: 49988, dtype: int64

In [196]:
df["col"].apply(func) → apply func element-wise on a column.

df.apply(func, axis=0) → apply func to each column.

df.apply(func, axis=1) → apply func to each row.

groupby().apply(func) → custom group aggregations.

SyntaxError: invalid character '→' (U+2192) (ipython-input-4086758484.py, line 1)

In [198]:
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
})

print("map() on Series:")
print(df["A"].map(lambda x: x*10))

print("\napply() on DataFrame (row sum):")
print(df.apply(sum, axis=1))

print("\napplymap() on DataFrame (double every value):")
print(df.applymap(lambda x: x*2))

map() on Series:
0    10
1    20
2    30
Name: A, dtype: int64

apply() on DataFrame (row sum):
0    5
1    7
2    9
dtype: int64

applymap() on DataFrame (double every value):
   A   B
0  2   8
1  4  10
2  6  12

/tmp/ipython-input-3730389085.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(lambda x: x*2))

In [199]:
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Salary": [5000, 6000, 7000, 8000]
})

result = df.groupby("Department").agg(
    avg_salary=("Salary", "mean"),
    max_salary=("Salary", "max"),
    salary_range=("Salary", lambda x: x.max() - x.min())
)

print(result)

            avg_salary  max_salary  salary_range
Department
HR              5500.0        6000          1000
IT              7500.0        8000          1000

In [200]:
df["Rank"] = df.groupby("Department")["Salary"].rank(method="dense", ascending=False)
df["Cumulative"] = df.groupby("Department")["Salary"].cumsum()
print(df)

  Department  Salary  Rank  Cumulative
0         HR    5000   2.0        5000
1         HR    6000   1.0       11000
2         IT    7000   2.0        7000
3         IT    8000   1.0       15000

In [201]:
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Year": [2023, 2024, 2023, 2024],
    "Salary": [5000, 6000, 7000, 8000]
})

pivot = pd.pivot_table(df, index=["Department", "Year"], values="Salary", aggfunc="sum")
print(pivot)

                 Salary
Department Year
HR         2023    5000
           2024    6000
IT         2023    7000
           2024    8000

In [202]:
import pandas as pd

df = pd.DataFrame({
    "Day": range(1, 8),
    "Sales": [100, 200, 300, 400, 500, 600, 700]
})

# Rolling mean over last 3 days
df["Rolling_Avg"] = df["Sales"].rolling(window=3).mean()

print(df)

   Day  Sales  Rolling_Avg
0    1    100          NaN
1    2    200          NaN
2    3    300        200.0
3    4    400        300.0
4    5    500        400.0
5    6    600        500.0
6    7    700        600.0

In [203]:
df["Cumulative_Sum"] = df["Sales"].expanding().sum()
print(df)

   Day  Sales  Rolling_Avg  Cumulative_Sum
0    1    100          NaN           100.0
1    2    200          NaN           300.0
2    3    300        200.0           600.0
3    4    400        300.0          1000.0
4    5    500        400.0          1500.0
5    6    600        500.0          2100.0
6    7    700        600.0          2800.0

In [204]:
df["Rank"] = df["Sales"].rank(method="dense", ascending=False)
df["Lag1"] = df["Sales"].shift(1)   # previous row
df["Lead1"] = df["Sales"].shift(-1) # next row

print(df)

   Day  Sales  Rolling_Avg  Cumulative_Sum  Rank   Lag1  Lead1
0    1    100          NaN           100.0   7.0    NaN  200.0
1    2    200          NaN           300.0   6.0  100.0  300.0
2    3    300        200.0           600.0   5.0  200.0  400.0
3    4    400        300.0          1000.0   4.0  300.0  500.0
4    5    500        400.0          1500.0   3.0  400.0  600.0
5    6    600        500.0          2100.0   2.0  500.0  700.0
6    7    700        600.0          2800.0   1.0  600.0    NaN

In [205]:
data = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Finance"],
    "Employee": ["A", "B", "C", "D", "E"],
    "Salary": [5000, 6000, 7000, 8000, 9000]
})

pivot = pd.pivot_table(data,
                       index="Department",
                       values="Salary",
                       aggfunc="mean")

print(pivot)

            Salary
Department
Finance     9000.0
HR          5500.0
IT          7500.0

In [206]:
pivot = pd.pivot_table(data,
                       index="Department",
                       values="Salary",
                       aggfunc=["mean", "sum", "count"])

print(pivot)

              mean    sum  count
            Salary Salary Salary
Department
Finance     9000.0   9000      1
HR          5500.0  11000      2
IT          7500.0  15000      2

In [207]:
data = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Finance"],
    "Year": [2023, 2024, 2023, 2024, 2024],
    "Salary": [5000, 6000, 7000, 8000, 9000]
})

pivot = pd.pivot_table(data,
                       index="Department",
                       columns="Year",
                       values="Salary",
                       aggfunc="sum")

print(pivot)

Year          2023    2024
Department
Finance        NaN  9000.0
HR          5000.0  6000.0
IT          7000.0  8000.0